body {
    background: #FBF7EF;
    -webkit-font-smoothing: antialiased;
    color: #6C6C80;
    margin-top: 30px;
}

.container {
	max-width: 1060px;
	margin: 0 auto;
}

.container::after, .container::before {
	content: '';
	display: table;
	clear: both;
}

#lista {
    width: calc(100% - 20px);
	margin-bottom: 30px;
}

.listaCompras {
    width: calc(50% - 20px);
    margin-left: 25%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu;
    color: #00747A;
    text-align: center;
    font-size: 40px;
}

ul li {
    font-size: 18px;
    list-style: none;
    padding: 10px;
}

ul li a {
    position:absolute;
    text-decoration: none;
    left: 58%;
    background-color: #FFF;
    padding: 5px 25px;
    border-radius: 8px;
    color: #DC2F02;
}

.buttonAdd, .buttonDel {
    width: 100%;
    height: 50px;
    transition: background-color 0.2s;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
  }

.buttonAdd {
    background: #09BC8A;
    color: #FFF;
    border: 0;
}  
  
.buttonAdd:hover {
    background: #079C72;
  }

.buttonDel {
    background: #74B3CE;
    color: #FFF;
    border: 0;
  }
  
.buttonDel:hover {
    background: #508991;
  }  

input[type="text"] {
    flex: 1;
    width: 100%;
    background: #FFF;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    color: #6C6C80;
  }  

@media (max-width: 739px) {
	.container{
		max-width: 410px;
	}
	.listaCompras {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		float: none;
    }
    
    ul li a {
        left: 65%;
    }

}